[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
humanize = "*"
python-dateutil = "*"
trainerdex = ">=4.0.3"
py-cord = "~=2.4.0"
aiostream = "*"
motor = ">=3.3,<3.4"
promise = "*"
yarl = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = {extras = ["black"], version = "*"}

[requires]
python_version = "3.10"
