git+https://github.com/Ext-Creators/discord-ext-alternatives@5482a4e7a5387563fe1662ba95e22134572a369c#egg=discord-ext-alternatives
humanize
git+https://github.com/TrainerDex/PogoOCR@release/0.4.0#egg=PogoOCR
python-dateutil
git+https://github.com/Kowlin/Red-DiscordBot@pr/guild-i18n#egg=Red-DiscordBot
trainerdex>=3.6.1,<3.7.0
python-Levenshtein>=0.12.0,<0.13.0
