git+https://github.com/TurnrDev/discord-ext-alternatives@patch-1#egg=discord-ext-alternatives
humanize
PogoOCR==0.3.2.post2
python-dateutil
git+https://github.com/Kowlin/Red-DiscordBot@pr/guild-i18n#egg=Red-DiscordBot
trainerdex==3.5.0
