git+https://github.com/Ext-Creators/discord-ext-alternatives@5482a4e7a5387563fe1662ba95e22134572a369c#egg=discord-ext-alternatives
humanize
PogoOCR==0.3.5
python-dateutil
Red-DiscordBot>=3.4.1,<3.5.0
trainerdex==3.6.2
